*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #020d16;
}
.name {
  position: absolute;
  color: rgb(125 251 12);
  left: 10%;
  font-size: 4vmin;
  top: 1vmin;
}
.world {
  overflow: hidden;
  position: relative;
}

.score {
  position: absolute;
  font-size: 4vmin;
  right: 50vw;
  top: 1vmin;
  color: rgb(233 230 226);
}

.start-screen {
  position: absolute;
  font-size: 5vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(233 230 226);
  border: 2px solid rgb(90, 144, 9);
  outline: 4px solid #e5370f;
  outline-offset: 5px;
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  .start-screen {
    padding: 0px;
  }
}

.ground {
  position: absolute;
  --left: 0;
  width: 300%;
  bottom: 0;
  left: calc(var(--left) * 1%);
}
.dino {
  --bottom: 0;
  position: absolute;
  left: 1%;
  height: 30%;
  bottom: calc(var(--bottom) * 1%);
}

.cactus {
  --left: 0;
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 30%;
  bottom: 0;
}

.hide {
  display: none;
}
